.page-header{
    font-family:Ubuntu,Inter,Arial;
    font-size: 2.5rem;
    // border-left: 3px solid black;
    // padding-left: 1rem;
    margin: 1.5rem 0;
    // padding: 0.5rem;
    border-bottom: 3px solid var(--color-primary);
}

.article-card-list{
    padding: 1rem;
    // background-color: #eee;
    border-radius: 0.5rem;
    // width: 80vw;
    max-width: 900px;
    // border: 2px solid red;
    // max-width: ;
    // margin-left: auto;
    // margin-right: auto;
}

.view-setter-dashboard{
    display: flex;
    align-items: center;
    // border: 2px solid red;
    margin-bottom: 1rem;
    p,a{
        font-family: Alata;
        font-size: 1.4rem;
        padding: 0.3rem;
        transition: 0.2s ease-in;
        border: 3px solid white;
    }
    .selected-view{
        color: var(--color-primary);
        border-radius: 0.2rem;
        border-bottom: 3px solid var(--color-primary);
    }
    a{
        
        align-items: center;
        color:var(--color-primary);
        margin-left:auto;
        margin-right: 10%;

        p{
            margin-left: auto;
            background-color: var(--color-primary);
            border: 3px solid var(--color-primary);
            color: #eee;
            padding: 0 0.7rem;
            border-radius: 0.8rem;
            transition: 0.25s ease-in-out;

            &:hover{
                background-color: white;
                color:var(--color-primary);
                border: 3px solid var(--color-primary);
            }
        }

    }
 
     
}




// .create-button{
//     border: 2px solid red;
// }